.menu-item {
    span {
      font-weight: bold;
      color: black;
    }
    &:hover {
      cursor: pointer;
    }
}

.current-menu-item span {
  color: white;
  font-weight: bold;
}

.header {
  .header__right .wallet {
    margin-left: 15px;

    button {
      padding: 8px 16px;
      border: 1px solid;
      border-radius: 80px;
      font-size: 12px;
      color: white;
      font-weight: bold;
      background: var(--primary);
    }
  }
  .account-detail {
    padding: 10px;
    background: #dedede;
    border-radius: 14px;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}

